---
import "@/styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/jpg" href="/car.jpg" />
        <title>Carlos López</title>
    </head>
    <body class="bg-gradient-to-br from-[#13547a] to-[#80d0c7]">
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: auto;
    }
</style>
