---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Trayectory from "@/components/Trayectory.astro";
---

<main id="home" class="flex flex-col">
    <Header />
    <Hero />
    <Trayectory />
</main>
