---
import Header from "@/components/Header.astro";
---

<main class="flex flex-col">
    <Header />

    <section class="flex flex-col justify-start h-screen px-8 mt-40">
        <div class="ml-8 w-3/4 text-white">
            <h3 class="text-3xl font-semibold">
                Hola, soy <span id="typewriter"></span>
            </h3>

            <p class="text-2xl leading-relaxed">
                Soy un desarrollador web apasionado por crear experiencias...
            </p>
        </div>
    </section>
</main>

<script>
    import { startTypewriter } from "@/scripts/typewriter.js";

    const texts: {
        text: string;
        font: string;
    }[] = [
        { text: "Carlos.", font: "font-sans" },
        { text: "científico de datos.", font: "font-sans" },
        { text: "investigador.", font: "font-sans" },
        { text: "desarrollador.", font: "font-sans" },
    ];

    const style: string = "text-3xl font-semibold text-[#7b1e3b]";

    startTypewriter(texts, style);
</script>

<style>
    main {
        margin: 0;
        width: 100%;
        background: radial-gradient(
            circle farthest-corner at 10% 20%,
            rgba(246, 161, 34, 0.85) 0.1%,
            rgba(254, 118, 118, 0.87) 90%
        );
    }

    .aboutme {
        font-family: monospace;
    }

    #typewriter {
        height: 2.5rem; /* ajusta según el tamaño de fuente y líneas */
        overflow: hidden;
        white-space: nowrap;
    }
</style>
