---
import Header from "@/components/Header.astro";
---

<main class="flex flex-col">
    <Header />

    <section class="flex flex-col justify-start h-screen px-8 mt-40">
        <div class="ml-8 w-3/4 text-white">
            <h3 class="text-3xl font-semibold">
                Hola, soy <span id="typewriter"></span>
            </h3>

            <p class="text-2xl leading-relaxed font-semibold">
                Actualmente estoy adentrandome en el mundo de la <a
                    class="gradient-text">ciencia de datos</a
                >, <span class="gradient-text">visión por ordernador</span>
                y los distintos paradigmas del <span class="gradient-text"
                    >aprendizaje automático</span
                > con una pasíon e interés por la resolución problemas complejos
                y del día a día.
            </p>
        </div>
    </section>
</main>

<script>
    import { typewriter } from "@/scripts/typewriter.js";

    const texts: {
        text: string;
        font: string;
    }[] = [
        { text: "Carlos.", font: "font-sans" },
        { text: "científico de datos.", font: "font-sans" },
        { text: "investigador.", font: "font-sans" },
        { text: "desarrollador.", font: "font-sans" },
    ];

    const style: string = "text-3xl font-semibold text-sky-400";

    typewriter({ texts, style });
</script>

<style>
    main {
        margin: 0;
        width: 100%;
        background: radial-gradient(
            circle at 30% 30%,
            #13547a 0%,
            #80d0c7 100%
        );
    }
    .aboutme {
        font-family: monospace;
    }

    #typewriter {
        height: 2.5rem;
        overflow: hidden;
        white-space: nowrap;
    }

    .gradient-text {
        display: inline-block;
        font-weight: bold;
        color: #ffffff;
        transition:
            transform 0.3s ease,
            background 0.5s ease;
    }

    .gradient-text:hover {
        background: linear-gradient(to right, #38bdf8, #6366f1);
        background-size: 200%;
        background-position: right;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateY(-4px);
        /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); */
    }
</style>
